$size-0: 0.125rem;
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.5rem;
$size-5: 2rem;
$size-6: 2.5rem;
$size-7: 3rem;

// taken from https://github.com/argyleink/open-props/blob/6d8ced361ec0dc830d3eaa170964c9eb08b4319e/src/props.sizes.css
$size-xxs: 240px;
$size-xs: 360px;
$size-sm: 480px;
$size-md: 768px;
$size-lg: 1024px;
$size-xl: 1440px;
$size-xxl: 1920px;

$gap: $size-1;
$radius: $size-1;
$radius-2: $size-2;
