@use "@fontsource-variable/m-plus-2";
@use "@fontsource-variable/sora";

@use "modern-normalize";

@use "variables";
@use "palette";

:root {
  background-color: var(--base);
  color: var(--text);
  font-family: 'Sora Variable', 'M Plus 2 Variable', sans-serif;
  margin-inline: variables.$size-4;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (width >=(variables.$size-xxs)) {
    max-width: variables.$size-xxs;
  }

  @media (width >=(variables.$size-xs)) {
    max-width: variables.$size-xs;
  }

  @media (width >=(variables.$size-sm)) {
    max-width: variables.$size-sm;
  }

  @media (width >=(variables.$size-md)) {
    max-width: variables.$size-md;
  }

  @media (width >=(variables.$size-lg)) {
    max-width: variables.$size-lg;
  }

  @media (width >=(variables.$size-xl)) {
    max-width: variables.$size-xl;
  }

  @media (width >=(variables.$size-xxl)) {
    max-width: variables.$size-xxl;
  }
}
