@use "@fontsource-variable/gabarito";
@use "@fontsource-variable/noto-sans-jp";

@use "modern-normalize";

@use "variables";
@use "palette";

:root {
  background-color: var(--base);
  color: var(--text);
  font-family: 'Gabarito Variable', 'Noto Sans JP Variable', sans-serif;
  margin-inline: variables.$size-4;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
