@import "../variables";

.image {
  margin-inline: auto;
  max-height: 100vh;
  object-fit: contain;
}

.meta-container {
  margin-block: $size-2;
  width: 100%;
  padding: $size-1;

  @media (width >=$size-lg) {
    display: flex;
  }

  &>.meta-title {
    overflow: hidden;

    @media (width >=$size-lg) {
      flex-grow: 1;
    }

    h1 {
      margin: 0;
    }

    span {
      font-size: 0.875rem;
      line-height: 1.25rem;

      a {
        text-decoration-line: underline;
        color: inherit;
      }
    }
  }

  &>.meta-rest {
    display: flex;
    align-items: center;

    @media (width>=$size-lg) {
      flex-shrink: 0;
    }

    &>.meta-dates {
      margin-block: $size-1;
      flex-grow: 1;
      font-size: 0.75rem;
      line-height: 1rem;

      @media (width>=$size-lg) {
        margin-inline: $size-2;
        text-align: right;
        font-size: 0.875rem;
        line-height: 1.25rem;
      }

      span {
        font-weight: 200;
      }
    }

    &>.meta-dlicon {
      position: relative;
      padding-bottom: $size-2;
      color: inherit;

      .icon {
        margin-inline: $size-1;
        width: $size-6;
        height: $size-6;
      }

      span {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-inline: auto;
        padding-inline: $size-1;
        text-align: center;
        font-size: $size-2;
        text-transform: uppercase;
      }
    }
  }
}

.tags {
  width: 100%;
  text-align: center;

  @media (width >=$size-lg) {
    text-align: start;
  }
}

.tag-chip {
  margin: $size-0;
  display: inline-block;
  user-select: none;
  white-space: nowrap;
  border-radius: $radius;
  background-color: var(--subtext0);
  padding-inline: $size-2;
  padding-block: $size-1;
  color: var(--inverted-text);
  transition: filter 0.25s;
  border: none;

  @media (hover: hover) {
    &:hover {
      filter: brightness(.75);
    }
  }
}