@use "../variables";

.bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: variables.$size-1;

  &.error {
    background-color: var(--red);
  }

  &.busy {
    background-color: var(--pink);
    animation: status-load 1s ease-in-out infinite;

    @keyframes status-load {
      0% {
        opacity: 0;
        transform: scaleX(0);
      }

      50% {
        opacity: 1;
        transform: scaleX(0.2);
      }

      100% {
        opacity: 0;
        transform: scaleX(1);
      }
    }
  }
}
