@use "../variables";

.tag-dialog {
  width: 50rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: variables.$size-2;
}

.row {
  display: flex;
  gap: variables.$size-2;
  align-items: center;

  >* {
    flex: 1 0;
  }
}
