@import "@fontsource-variable/m-plus-2";
@import "@fontsource-variable/sora";

@import "modern-normalize";

@import "palette";

:root {
  background-color: var(--base);
  color: var(--text);
  font-family: 'Sora Variable', 'M Plus 2 Variable', sans-serif;
}
